body {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #878787;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  text-transform: capitalize;
}
.whole_app_wrapper {
  width: 600px;
  margin: 30px auto;
}
.whole_app {
  padding: 20px;
  border: 1px solid #dadce0;
  border-radius: 7px;
}
.float {
  display: inline;
}
.overview {
  margin-bottom: 20px;
}
.weather-temperature img {
  margin-right: 20px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  top: -34px;
  font-size: 16px;
}
